interactions:
- request:
    body: '*****'
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
    method: POST
    uri: https://login.microsoftonline.com/b5ab0e1e-09f8-4258-afb7-fb17654bc5b3/oauth2/v2.0/token
  response:
    body:
      string: '{"token_type": "Bearer", "expires_in": 3599, "ext_expires_in": 3599,
        "access_token": "*****"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: '*****'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: PUT
    uri: https://my-vault.vault.azure.net/secret/*****
  response:
    body:
      string: '{"value": "{\"root_sp_client_id\": \"*****\", \"root_sp_key\": \"*****\",
        \"root_tenant_id\": \"*****\", \"tenant_id\": \"*****\", \"tenant_admin_username\":
        \"*****\", \"tenant_admin_password\": \"*****\", \"tenant_sp_client_id\":
        \"*****\", \"tenant_sp_key\": \"*****\"}", "id": "https://my-vault.vault.azure.net/secret/*****",
        "attributes": {"enabled": true, "created": 1587667328, "updated": 1587667328,
        "recoveryLevel": "Recoverable+Purgeable"}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: '*****'
    headers:
      content-type:
      - application/x-www-form-urlencoded
      return-client-request-id:
      - 'true'
      x-client-CPU:
      - x64
      x-client-OS:
      - darwin
      x-client-SKU:
      - Python
      x-client-Ver:
      - 1.2.2
    method: POST
    uri: https://login.microsoftonline.com/b5ab0e1e-09f8-4258-afb7-fb17654bc5b3/oauth2/token
  response:
    body:
      string: '{"token_type": "Bearer", "expires_in": "3599", "ext_expires_in": "3599",
        "expires_on": "1587670929", "not_before": "1587667029", "resource": "https://graph.microsoft.com",
        "access_token": "*****"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: '*****'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://graph.microsoft.com/v1.0/users
  response:
    body:
      string: '{"@odata.context": "https://graph.microsoft.com/v1.0/$metadata#users/$entity",
        "id": "b0bc1081-d420-4e08-9744-7eaee8a3e556", "businessPhones": [], "displayName":
        "test-user-25c8b5a2-ab09-4de1-8159-60fd5dcf3d90 Solo", "givenName": null,
        "jobTitle": null, "mail": null, "mobilePhone": null, "officeLocation": null,
        "preferredLanguage": null, "surname": null, "userPrincipalName": "test.user.25c8b5a2.ab09.4de1.8159.60fd5dcf3d90.solo@dancorriganpromptworks.onmicrosoft.com"}'
    headers:
      Content-Type:
      - application/json;odata.metadata=minimal;odata.streaming=true;IEEE754Compatible=false;charset=utf-8
      Location:
      - https://graph.microsoft.com/v2/b5ab0e1e-09f8-4258-afb7-fb17654bc5b3/directoryObjects/b0bc1081-d420-4e08-9744-7eaee8a3e556/Microsoft.DirectoryServices.User
      OData-Version:
      - '4.0'
      x-ms-ags-diagnostic:
      - '{"ServerInfo":{"DataCenter":"North Central US","Slice":"SliceC","Ring":"2","ScaleUnit":"000","RoleInstance":"AGSFE_IN_47"}}'
    status:
      code: 201
      message: Created
- request:
    body: '*****'
    headers:
      Content-Type:
      - application/json
    method: PATCH
    uri: https://graph.microsoft.com/v1.0/users/b0bc1081-d420-4e08-9744-7eaee8a3e556
  response:
    body:
      string: ''
    headers:
      Content-Type:
      - text/plain
      x-ms-ags-diagnostic:
      - '{"ServerInfo":{"DataCenter":"North Central US","Slice":"SliceC","Ring":"2","ScaleUnit":"000","RoleInstance":"AGSFE_IN_37"}}'
    status:
      code: 204
      message: No Content
version: 1
