interactions:
- request:
    body: '*****'
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
    method: POST
    uri: https://login.microsoftonline.com/b5ab0e1e-09f8-4258-afb7-fb17654bc5b3/oauth2/v2.0/token
  response:
    body:
      string: '{"token_type": "Bearer", "expires_in": 3599, "ext_expires_in": 3599,
        "access_token": "*****"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: '*****'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: PUT
    uri: https://my-vault.vault.azure.net/secret/*****
  response:
    body:
      string: '{"value": "{\"root_sp_client_id\": \"*****\", \"root_sp_key\": \"*****\",
        \"root_tenant_id\": \"*****\", \"tenant_id\": \"*****\", \"tenant_admin_username\":
        \"*****\", \"tenant_admin_password\": \"*****\", \"tenant_sp_client_id\":
        \"*****\", \"tenant_sp_key\": \"*****\"}", "id": "https://my-vault.vault.azure.net/secret/*****",
        "attributes": {"enabled": true, "created": 1587667341, "updated": 1587667341,
        "recoveryLevel": "Recoverable+Purgeable"}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: '*****'
    headers:
      content-type:
      - application/x-www-form-urlencoded
      return-client-request-id:
      - 'true'
      x-client-CPU:
      - x64
      x-client-OS:
      - darwin
      x-client-SKU:
      - Python
      x-client-Ver:
      - 1.2.2
    method: POST
    uri: https://login.microsoftonline.com/b5ab0e1e-09f8-4258-afb7-fb17654bc5b3/oauth2/token
  response:
    body:
      string: '{"token_type": "Bearer", "expires_in": "3599", "ext_expires_in": "3599",
        "expires_on": "1587670942", "not_before": "1587667042", "resource": "https://management.azure.com/",
        "access_token": "*****"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: '{"properties": {"roleDefinitionId": "/providers/Microsoft.Management/managementGroups/ad531567-4f81-4bd6-a2b2-2bb69e30ff88/providers/Microsoft.Authorization/roleDefinitions/8e3af657-a8ff-443c-a75c-2fe8c4bcb635",
      "principalId": "3c53cafc-4937-4337-87a6-6ccc783ac6fc"}}'
    headers:
      Content-Type:
      - application/json
    method: PUT
    uri: https://management.azure.com//providers/Microsoft.Management/managementGroups/ad531567-4f81-4bd6-a2b2-2bb69e30ff88/providers/Microsoft.Authorization/roleAssignments/a76e980b-a6bb-4ad4-b9d6-1b45a3d23c6b?api-version=2015-07-01
  response:
    body:
      string: '{"error": {"code": "PrincipalNotFound", "message": "Principal 3c53cafc4937433787a66ccc783ac6fc
        does not exist in the directory b5ab0e1e-09f8-4258-afb7-fb17654bc5b3."}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      x-ms-ratelimit-remaining-tenant-writes:
      - '1199'
    status:
      code: 400
      message: Bad Request
version: 1
