{% extends "base.html" %}

{% block content %}

<div class="col task-order-form">

  {% include 'task_orders/new/menu.html' %}

  {% include "fragments/flash.html" %}

  {% block form_action %}
    {% if task_order_id %}
      <form id="form" method='POST' action="{{ url_for('task_orders.new', screen=current, task_order_id=task_order_id) }}" autocomplete="off">
    {% else %}
      <form id="form" method='POST' action="{{ url_for('task_orders.update', screen=current, portfolio_id=portfolio_id) }}" autocomplete="off">
    {% endif %}
  {% endblock %}

    <div class="panel">

      <div class="panel__heading">
        <h1 class="task-order-form__heading subheading">
          <div class="h2">Task Order Builder</div>
          {% block heading %}{% endblock %}
        </h1>
      </div>

      <div class="panel__content">

        {{ form.csrf_token }}
        {% block form %}
        form goes here
        {% endblock %}

      </div>

    </div>

    {% block next %}

      <div class='action-group'>
        <input type='submit' class='usa-button usa-button-primary' value='Save & Continue' />

        <savedraft inline-template v-bind:is_draft_initial="false">
          <div>
            <div class="usa-button usa-button-secondary usa-button-save-draft" v-on:click="save">Save Draft</div>
            <input name="is_draft" type="hidden" value="true" v-if="is_draft" />
          </div>
        </savedraft>
      </div>

    {% endblock %}

  </form>

</div>

{% endblock %}
