@mixin block-list {
  @include panel-margin;

  > ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }
}

@mixin block-list-header {
  @include panel-base;
  @include panel-theme-default;
  padding: $gap * 2;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

@mixin block-list__title {
  @include h4;
  margin: 0;
}

@mixin block-list__description {
  padding-top: $gap/2;
  font-style: italic;
  line-height: $base-line-height;
}

@mixin block-list__footer {
  @include panel-base;
  @include panel-theme-default;
  padding: $gap * 2;
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;

  .icon-link {
    &:first-child {
      margin-right: -$gap;
    }
  }
}

@mixin block-list-item {
  @include panel-base;
  margin: 0;
  padding: $gap * 2;
  border-top: 0;
  border-bottom: 1px dashed $color-gray-light;
  cursor: default;

  @at-root li#{&} {
    &:last-child {
      border-bottom-style: solid;
    }
  }

  &--active {
    color: $color-blue;
  }
}

@mixin block-list__status {
  content: "";
  width: 2rem;
  height: 2rem;
  border: 1px solid $color-gray;
  border-radius: 100%;
  position: absolute;

  &--active:before {
    border: 2px solid $color-blue;
  }

  &--complete:before {
    content: url('/static/icons/checkmark.svg');
    background-color: $color-blue;
    border: 2px solid $color-blue;
    font-size: $h6-font-size;
    padding: 1px 2px;
  }

  &--incomplete:before {
    border: 2px solid $color-gray-light;
  }

}


.block-list {
  @include block-list;

  .icon-link {
    margin: -$gap 0;
  }

  .icon-link,
  .label {
    &:first-child {
      margin-left: -$gap;
    }

    &:last-child {
      margin-right: -$gap;
    }

  }
}

.block-list__header {
  @include block-list-header;
}

.block-list__title {
  @include block-list__title;
}

.block-list__description {
  @include block-list__description;
}

.block-list__status {
 @include block-list__status;
}

.block-list__item {
  @include block-list-item;
}

.block-list__footer {
  @include block-list__footer;
  border-top: 0;
}
